<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
ul,li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width:400px;
}
li{
    border-bottom: 1px solid #bbb;
}
li .title{
    /*text-align: ;*/
    background: #ddd;
    padding: 5px 20px;
}
    </style>
</head>
<body>
<ul>
    <% contents.forEach(function(content){ %>
    <li>
        <div class="title"><%=content.title%></div>
        <div class="content"><%=content.content%></div>
        <div class="auther"><%=content.auther%></div>
    </li>
    <% }) %>
</ul>
</body>
</html>