<h1>上传xls</h1>
<form action="doUploadXls" method="post" enctype="multipart/form-data">
    <input type="text" name="abc" value="123"/>
    <input type="file" name="xls"/>
    <input type="submit" value="submit"/>
</form>